<div class="calculator">
    <div class="panel panel-default ">
        <div class="text-center">
            <span class="tab-heading">Calculate your BMR direction</span>
        </div>
        <div class="panel-body text-center">
            <form class="form" novalidate>
                <div class="form-group">
                    <div class="col-md-5">
                        <label>Sex:

                        </label>
                    </div>
                    <div class="col-md-7">
                        <select ng-model="sport.sex" class="form-control">
                            <option selected >Choose sex</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <label>Weight:

                        </label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sport.weight" class="form-control"/>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <label>Height:

                        </label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sport.height" class="form-control"/>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <label>Age:

                        </label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" ng-model="sport.age" class="form-control"/>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <label>Activity:

                        </label>
                    </div>
                    <div class="col-md-7">
                        <select ng-model="sport.activity" class="form-control">
                            <option selected>Choose activity </option>
                            <option value="1.0">1.0</option>
                            <option value="1.2">1.2</option>
                            <option value="1.4">1.4</option>
                            <option value="1.6">1.6</option>
                            <option value="1.8">1.8</option>
                            <option value="2.0">2.0</option>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <label>Target:

                        </label>
                    </div>
                    <div class="col-md-7">
                        <select ng-model="sport.target" class="form-control">
                            <option selected>Choose target</option>
                            <option value="reduction">Reduction</option>
                            <option value="mass">Mass</option>
                        </select>
                    </div>

                </div>
                <div class="form-group text-center">
                    <input type="button" value="Calculate" ng-click="calculateBMR(sport)" class="btn btn-primary btn-sm" />
                    <button type="reset" class="btn btn-danger btn-sm">Reset</button>
                </div>
                <div class="has-error" ng-show="errorCalculate ? true : false">
                    <p style="color: red">You must fill all fields!!!</p>
                </div>
            </form>
        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>