<div class="panel panel-danger conclusion">
    <div class="text-center">
        <p class="tab-heading">Conclusion</p>
    </div>
    <div class="panel-body">
        <div class="well text-center">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <label>Sex:</label>
                </div>
                <div class="col-xs-6">
                    <span>{{calculatedBMR.sex}}</span>
                </div>
            </div>

        </div>
        <div class="well text-center">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <label>Weight:</label>
                </div>
                <div class="col-xs-6">
                    <span>{{calculatedBMR.weight}} kg</span>
                </div>
            </div>

        </div>
        <div class="well text-center">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <label>Height:</label>
                </div>
                <div class="col-xs-6">
                    <span>{{calculatedBMR.height}} cm</span>
                </div>
            </div>

        </div>
        <div class="well text-center">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <label>Age:</label>
                </div>
                <div class="col-xs-6">
                    <span>{{calculatedBMR.age}} years</span>
                </div>
            </div>

        </div>
        <div class="well text-center">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <label>Activity:</label>
                </div>
                <div class="col-xs-6">
                    <span>{{calculatedBMR.activity}}</span>
                </div>
            </div>

        </div>
        <div class="well text-center">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <label>BMR:</label>
                </div>
                <div class="col-xs-6">
                    <span>{{calculatedBMR.bmr}} kcal</span>
                </div>
            </div>

        </div>
        <div class="well text-center">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <label>CPM:</label>
                </div>
                <div class="col-xs-6">
                    <span>{{calculatedBMR.cpm}} kcal</span>
                </div>
            </div>

        </div>
        <div class="well text-center">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <label>Target:</label>
                </div>
                <div class="col-xs-6">
                    <span>{{calculatedBMR.target}}</span>
                </div>
            </div>

        </div>
        <div class="well text-center">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <label>CPM Target:</label>
                </div>
                <div class="col-xs-6">
                    <span>{{calculatedBMR.cpmTarget}} kcal</span>
                </div>
            </div>

        </div>
    </div>
    <div class="panel-footer text-center">
        <h3>Stay well and good lack!</h3>
    </div>
</div>