<div class="panel panel-danger">
    <div class="panel-heading text-center">
        <h2>Conclusion</h2>
    </div>
    <div class="panel-body">
        <div class="well text-center">
            Sex: {{calculatedBMR.sex}}
        </div>
        <div class="well text-center">
            Weight: {{calculatedBMR.weight}} kg
        </div>
        <div class="well text-center">
            Height: {{calculatedBMR.height}} cm
        </div>
        <div class="well text-center">
            Age: {{calculatedBMR.age}} years
        </div>
        <div class="well text-center">
            Activity: {{calculatedBMR.activity}}
        </div>
        <div class="well text-center">
            BMR: {{calculatedBMR.bmr}} kcal
        </div>
        <div class="well text-center">
            CPM: {{calculatedBMR.cpm}} kcal
        </div>
        <div class="well text-center">
            Target: {{calculatedBMR.target}}
        </div>
        <div class="well text-center">
            CPM Target: {{calculatedBMR.cpmTarget}} kcal
        </div>
    </div>
    <div class="panel-footer text-center">
        <h3>Stay well and good lack!</h3>
    </div>
</div>