<div class="makroCreator">
    <div class="col-md-12">
        <div class="col-md-12">
            <table class="table table-hover table-bordered">
                <thead>
                <tr class="heading-td"><td>Product</td><td>Kcal</td><td>Protein</td><td>Carbon</td><td>Fat</td><td>Weight</td></tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in makroProducts ">
                    <td><button class="btn btn-danger" ng-click="removeFromMakro($index)">-</button> {{item.product.product}}</td>
                    <td>{{item.product.kcal}}</td>
                    <td>{{item.product.protein}}</td>
                    <td>{{item.product.carbon}}</td>
                    <td>{{item.product.fat}}</td>
                    <td><input class="inputMakro" type="number" id="makroInput{{$index}}" /></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <table class="table table-bordered">
                <tr><td>Protein</td><td>Carbon</td><td>Fat</td><td>Kcal</td></tr>
                <tr><td><label class="form-control" id="proteinLabel"></label></td><td><label class="form-control" id="carbonLabel"></label></td><td><label class="form-control" id="fatLabel"></label></td><td><label class="form-control" id="kcalLabel"</td></tr>
            </table>
            <button class="btn btn-default" ng-click="calculateMakro()" >Oblicz</button>
            <span class="error">{{errorMeals}}</span>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="btns-grup">
                <button class="btn btn-default" ng-click="changeViewTable('protein')">Proteins</button>
                <button class="btn btn-default" ng-click="changeViewTable('carbon')">Carbons</button>
                <button class="btn btn-default" ng-click="changeViewTable('fat')">Fats</button>
            </div>
            <div class="table-view">
                <div ng-show="viewTable == 'protein' ? true : false">
                    <table class="table table-bordered table-hovered">
                        <thead>
                        <tr class="heading-td"><td>Product</td><td>Kcal</td><td>Protein</td><td>Carbon</td><td>Fat</td><td>Add</td></tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in proteins | sortFilter:'carbon'">
                            <td>{{item.product}}</td>
                            <td>{{item.kcal}}</td>
                            <td>{{item.protein}} g</td>
                            <td>{{item.carbon}} g</td>
                            <td>{{item.fat}} g </td>
                            <td class="text-center"><button class="addButtonMakro" id="makroProteinButton{{$index}}" ng-click="addToMakro(item,$index, 'protein')">+</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="viewTable =='carbon' ? true : false">
                    <table class="table table-bordered table-hovered">
                        <thead>
                        <tr class="heading-td"><td>Product</td><td>Kcal</td><td>Protein</td><td>Carbon</td><td>Fat</td><td>Add</td></tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in carbons | sortFilter:'carbon'">
                            <td>{{item.product}}</td>
                            <td>{{item.kcal}}</td>
                            <td>{{item.protein}} g</td>
                            <td>{{item.carbon}} g</td>
                            <td>{{item.fat}} g</td>
                            <td class="text-center"><button class="addButtonMakro" id="makroCarbonButton{{$index}}" ng-click="addToMakro(item, $index, 'carbon')">+</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="viewTable == 'fat' ? true : false">
                    <table class="table table-bordered table-hovered">
                        <thead>
                        <tr class="heading-td"><td>Product</td><td>Kcal</td><td>Protein</td><td>Carbon</td><td>Fat/td><td>Add</td></tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in fats | sortFilter:'carbon'">
                            <td>{{item.product}}</td>
                            <td>{{item.kcal}}</td>
                            <td>{{item.protein}} g</td>
                            <td>{{item.carbon}} g</td>
                            <td>{{item.fat}} g</td>
                            <td class="text-center"><button class="addButtonMakro" id="makroFatButton{{$index}}" ng-click="addToMakro(item,$index, 'fat')">+</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>